<mat-toolbar color="primary" class="toolbar">
  <span>
      <div *ngIf="state.testMode">
          <mat-icon [matMenuTriggerFor]="statuses">menu</mat-icon>
          <mat-menu #statuses="matMenu">
          <button mat-menu-item *ngFor="let status of getStatuses()" (click)="selectedStatus(status)">{{status}}</button>
          </mat-menu>
        </div>
  </span>
  <span>&nbsp;&nbsp;&nbsp;Spud's Fantasy Football</span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <span>Test Mode: &nbsp;
    <mat-radio-group [(ngModel)]="state.testMode">
      <mat-radio-button [value]=true>
        Yes
      </mat-radio-button>
      &nbsp;&nbsp;
      <mat-radio-button [value]=false>
        No
      </mat-radio-button>
    </mat-radio-group>
  </span>
</mat-toolbar>
